# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
server/temp/*
!server/temp/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
